$white-two: #ffffff;
$white: #f9f9f9;
$weird-green: #57e690;
$pastel-orange: #ff915b;
$pale-orange: #ffbe5b;
$kiwi-green: #8fe360;
$light-gold: #ffdf5b;
$br: #cfb995;
$red: #ff5b5b;
$blue: #57dbe6;

@font-face {
  font-family: Montserrat;
  src: url(../../Montserrat/Montserrat-Regular.ttf);
}
* {
  font-family: Montserrat;
  box-sizing: border-box;
  margin: 0;
}

.bg-main {
  background-color: #ecebe9;
}
.bg-red {
  background-color: $red;
}
.bg-paleorange {
  background-color: $pale-orange;
}
.bg-pastelorange {
  background-color: $pastel-orange;
}
.bg-lightgold {
  background-color: $light-gold;
}
.bg-kiwigreen {
  background-color: $kiwi-green;
}
.bg-weirdgreen {
  background-color: $weird-green;
}
.bg-blue {
  background-color: $blue;
}

.navcontainer {
  background-color: #303030;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 50px;
  @media screen and(min-width:765px) {
    height: auto;
  }
}
.navmenu-mobile {
  height: 50px;
  display: flex;
  justify-content: end;
  width: 100%;
  z-index: 99;
  padding-right: 10px;
  position: fixed;
  background-color: #303030;
  top: 0;
  .hamburgur {
    border: none;
    background: transparent;
    color: $white-two;
    font-size: 30px;
  }
  @media screen and (min-width: 765px) {
    display: none;
  }
}
.toggle-mob-nav {
  width: 80% !important;
}
.navmenuitem-mobile {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  z-index: 99;
  width: 0;
  transition: 0.2s;
  text-align: right;
  font-size: 20px;
  a {
    padding: 15px;
    text-decoration: none;
    color: $white-two;
    &:hover {
      background-color: $br;
    }
  }
  .submenuitem-mob {
    padding: 15px;
    .dropdown-content-mob {
      display: flex;
      flex-direction: column;
      font-size: 16px;
    }
  }
}
.navmenu {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin: 0px 0px 0px 0px;
  display: none;
  @media screen and(min-width:1000px) {
    margin-right: 64px;
  }
  @media screen and(min-width:765px) {
    display: flex;
  }
}
.navmenuitem {
  width: auto;
  padding: 20px 32px 21px 32px;
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-decoration: none;
  color: $white-two;
  &:hover {
    background-color: $br;
  }
}
.icon {
  margin: 0 5px;
}

.cursor-pointer {
  cursor: pointer;
}
.dropdown {
  position: relative;
  width: 250px;
  .dropbtn {
    width: 100%;
  }
  .dropdown-content {
    position: absolute;
    top: 75px;
    right: 0px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: $white-two;
    &:after {
      content: '';
      position: absolute;
      top: -10px;
      right: 0;
      margin: 0 auto;
      width: 0;
      height: 0;
      border-bottom: 25px solid $white-two;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
  .dropdown-content .submenuitems {
    display: flex;
    color: black;
    padding: 12px 16px;
    margin: 0 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    line-height: 1.43;
    color: #5e5e53;
    border-bottom: 0.5px solid rgb(168, 163, 163);
    background-color: $white-two;
    &:hover {
      color: $br;
    }
  }
}

.banner {
  height: 200px;
  img {
    height: 300px;
    object-fit: cover;
  }
  @media screen and(min-width:800px) {
    height: 300px;
  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.maintitle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 40px;
    line-height: 1.5;
    color: $br;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }
  h2 {
    font-size: 16px;
    color: $white-two;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  @media screen and(min-width:800px) {
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 20px;
    }
  }
}

.searchbar {
  display: flex;
  margin-top: 20px;
  width: 350px;
  border: 1px solid white;
  border-radius: 5px;
  align-items: center;
  input[type='text'] {
    width: 100%;
    padding: 12px 12px;
    font-size: 14px;
    border: none;
    background: transparent;
    color: $white-two;
    background: url(../../assets_Homework_Front-End_01/search-copy.png) 96% no-repeat;
    &:focus {
      border: none;
    }
  }
  @media screen and(min-width:1000px) {
    margin-top: 40px;
    width: 400px;
    input {
      font-size: 12px;
      padding: 8px;
    }
  }
}

.footer-content {
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  letter-spacing: 1px;
  letter-spacing: 1.5;
  p {
    font-size: 14px;
    color: $white-two;
  }
  @media screen and(min-width:450px) {
    left: 25%;
  }
  @media screen and(min-width:800px) {
    left: 15%;
  }
}

.btn-alt {
  display: flex;
  align-items: center;
  background: transparent;
  padding-left: 0;
  border: none;
  color: $br;
  font-size: 13px;
  cursor: pointer;
  img {
    margin-left: 5px;
  }
}

.back-btn {
  border: none;
  background-color: black;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  clip-path: polygon(50% 5%, 83% 12%, 96% 44%, 78% 80%, 52% 90%, 32% 100%, 16% 75%, 4% 46%, 10% 10%);
}

.home {
  width: 84%;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 40px;
}

.btn-category {
  width: 206px;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: $white-two;
  padding: 10px 0;
  border: none;
  cursor: pointer;
}

.btn-container {
  justify-content: center;
  display: flex;
  gap: 10px 15px;
  flex-wrap: wrap;
  gap div {
    width: 20%;
  }
}

.view-more {
  background: transparent;
  border: 1px solid $br;
  color: $br;
}
.flex {
  display: flex;
}
.inner-view {
  @extend .flex;
  gap: 0 10px;
  justify-content: center;
  align-items: center;
  img {
    margin-bottom: 3px;
  }
}

.tag {
  border-radius: 20px;
  font-size: 12px;
  padding: 5px 10px;
  color: $white-two;
  font-weight: 600;
  text-align: center;
  width: fit-content;
}

.joke-list {
  margin-top: 30px;
}

.joke-container {
  margin-top: 20px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  gap: 30px 10px;
  .joke-card {
    text-decoration: none;
    padding: 16px 10px 16px 30px;
    color: $white;
    color: #303030;
    width: 100%;
    border: 1px solid #ecebe9;
    background-color: white;
    cursor: pointer;
    &:hover {
      box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
    @media screen and (min-width: 500px) {
      width: 48%;
    }
    @media screen and (min-width: 1000px) {
      width: 32%;
    }
  }
}
.joke-title {
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 1.25;
  margin: 0 0 6px 0px;
  img {
    margin-right: 4px;
  }
}
.joke-content {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: normal;
  padding-right: 6px;
}
.joke-end {
  float: right;
  margin-top: 30px;
  button {
    margin-right: 10px;
  }
}

.view-more-joke {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.content-fit {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.joke-page-content {
  @extend .flex;
  justify-content: space-between;
  margin-top: 30px;
}

.col-1 {
  width: 100%;
  @media screen and (min-width: 765px) {
    width: 65%;
  }
}

.joke-detail {
  background-color: $white-two;
  padding: 15px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.top-jokes {
  width: 30%;
  background-color: $white-two;
  padding: 30px 20px;
  border-radius: 3px;
  display: none;
  h1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  a {
    font-size: 13px;
    color: black;
  }
  @media screen and(min-width:765px) {
    display: block;
  }
}

.joke-desc {
  margin-top: 10px;
  h1 {
    margin-bottom: 10px;
    color: $br;
  }
}
.label {
  font-weight: 600;
  font-size: 15px;
  &:before {
    content: '•';
    margin-right: 5px;
  }
}

.orange {
  @extend .label;
  color: $pale-orange;
}

.blue {
  @extend .label;
  color: #57dbe6;
}

.red {
  @extend .label;
  color: #ff5b5b;
}

.gap-20 {
  gap: 20px;
}
.joke-desc-btm-btn {
  flex-wrap: wrap;
  div {
    width: 100%;
  }
  @media screen and(min-width:500px) {
    div {
      width: auto;
    }
  }
}
.like-btn {
  border-radius: 50%;
  border: none;
  background-color: green;
  padding: 8px;
  cursor: pointer;
}
.dislike-btn {
  border-radius: 50%;
  border: none;
  background-color: red;
  padding: 8px;
  cursor: pointer;
}
.nav-btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5px;
  margin-top: 10px;

  button {
    background-color: $white;
    border: none;
    height: 40px;
    padding: 2px 20px;
    cursor: pointer;
    color: $br;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
.center {
  text-align: center;
  p {
    margin-top: 3px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 5px;
  }
}

.lds-ring {
  display: flex;
  position: relative;
  height: 50px;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 5px solid $br;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $br transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.display-none {
  display: none !important;
}

.search-list {
  position: absolute;
  top: 60px;
  background-color: $white-two;
  color: #5e5e5e;
  width: 100%;
  font-size: 14px;
  text-align: left;
  a {
    display: block;
    text-decoration: none;
    padding: 15px 0px;
    border-bottom: 0.5px solid #e0d5d5;
    margin: 0 10px;
    color: inherit;
    img {
      margin-right: 15px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: -10px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 25px solid $white-two;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
